/* Layout Style */


/* App properties */
#app
  width: 100%
  height: auto
  box-sizing: border-box
  background: white
  margin: 0
  padding: 0

/* Head/Top/Headers objects */
#top-container , #bot-container
  background: linear-gradient($gradient-direction , $gradient-color-peterriver , $gradient-color-belizehole)

#bot-container
  height: 200px

/* Containar class */
.container
  @include container($container-full-width , $container-size-small)

.container-small
  @include container($container-full-width , $container-size-small)

.container-normal
  @include container($container-full-width , $container-size-normal)

.container-big
  @include container($container-full-width , $container-size-big)
