/* Layout Style */


/* App properties */
#app
  width: 100%
  height: auto
  box-sizing: border-box
  background: white
  margin: 0
  padding: 0

/* Containar class */
.container
  @include container(100% , 100%)

.container-small
  @include container($container-size-small , $container-size-small)

.container-big
  @include container($container-size-big , $container-size-big)

/* Head/Top/Headers objects */
