/* Layout Style */


/* App properties */
#app
  width: 100%
  height: auto
  box-sizing: border-box
  background: white
  margin: 0
  padding: 0

/*Backend ***/

#dash
  display: flex
  flex-flow: row nowrap
  padding: 0
  background: grey

#top-nav
  background: $div-menu-top-color
  position: absolute
  right: 0
  top: 0
  bottom: 0
  width: 80%
  height: 71px

#top-left-smal-nav
  padding: 0
  height: auto


#top-left-smal-nav ul li a i
  color: $left-menu-logo-color

#under
  text-decoration: none

#top-left-smal-nav ul
  background: $left-menu-top-color
  display: flex
  flex-flow: row
  width: 100%
  height: auto
  margin: 0 !important

#left-nav
  background: $left-menu-center-color
  width: 25%
  padding: 0!important
  margin: 0!important

#center-left-nav
  height: 80%
  box-sizing: border-box
  padding: 12%

// #down-left-nav
//   box-sizing: border-box
//   height: 80px
//   padding-left: 12%
//   background: $left-menu-bottom-color

.dash-section
  background: $div-center-color
  height: auto!important
  padding-top: 9% !important
  padding-bottom: 20% !important
  box-sizing: border-box !important

.dash-section-content
  padding: 5%
  padding-top: 0
  padding-bottom: 0

.type-section
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  align-items: center

.profile-text
  margin-left: 45px !important

.sub-list ul .profile-circle-small
  margin-bottom: 10px

.more-under
  text-decoration: underline

.type-section i
  color: $div-menu-top-color
  font-size: 15pt
.sub-list
  display: block

.sub-list ul
  padding: 0
  margin: 0
  margin-top: 5px
  margin-top: 5px

.sub-list ul li
  float: none

.sub-list ul li a
  color: $white-color
  opacity: .5
  text-align: left
  padding: 5px
  padding-left: 0
  margin-bottom: 10px

.cirlce-active
  position: relative
  left: 25px
  right: 0
  top: -15px
  bottom: 0

.off
  background: $off-color !important

/* Head/Top/Headers objects */
#top-container , #bot-container
  background: linear-gradient($gradient-direction , $gradient-color-peterriver , $gradient-color-belizehole)

#bot-container
  height: 200px

#ul-logo
  width: 50px
  height: 50px
  margin-left: 10px

#ul-logo li a i
  font-size: 15pt

#ul-logo li a
  opacity: 1 !important

#post-job
  background: $front-nav-button-color

#introduction
  width: auto
  height: auto
  padding: 50px
  padding-top: 50px
  padding-bottom: 0
  margin: 0 auto
  text-align: center

#introduction h1
  color: white
  font-size: 25pt

#sub-description
  opacity: .6
  width: auto
  word-break: break-all
  text-align: center
  margin-top: -5px
  font-size: 12pt

#searchbox
  display: flex
  flex-flow: row nowrap
  height: 100px
  width: 90%
  margin: 20px auto
  background: rgba(17 , 24,31 ,0.2)
  border-radius: 8px
  justify-content: center
  align-items: center
  padding-left: 10%

#footer-nav
  display: flex
  flex-flow: row nowrap
  justify-content: space-around
  padding: 0
  padding-top: 0
  padding-bottom: 50px
  margin: 0
  box-sizing: border-box
  background: $footer-bacground-color


#footer-nav ul
  display: block
  width: 25%
  margin: 0
  padding: 0
  text-align: justify

#footer-nav  h3
  color: #2c3e50
  opacity: .8
  font-weight: lighter

#footer-nav li a
  color: #2c3e50
  opacity: .8
  text-align: left
  padding: 2px
  padding-left: 0
  margin: 0
  margin-bottom: 10px
  font-size: 11pt
  max-width: 120px


#footer-nav ul li
  float: none
  margin: 0
  padding: 0

#footer-nav li a:hover
  color: $footer-text-hover-color

#social-net
  margin: 0 auto

#social-net button.social:hover
  background: none

#go:hover
  background: #c0392b !important

#go > i:hover
  color: white !important

#fa:hover
  background: #4267B2 !important

#fa > i:hover
  color: white !important


#ln:hover
  background: #2980b9 !important

#ln > i:hover
  color: white !important

#terms
  font-size: 10pt
  text-align: justify
#aterms
  font-size: 12pt

/*About us Cookies ,etc*

#about
  background: $white-default-background

#about-paraf
  padding: $padding-container
  padding-top: $padding-container/4

#vision
  height: 150px
  padding: $padding-container
  padding-top: $padding-container/3
  padding-bottom: 0

#vision h1
  margin: 0% auto
  text-align: center

#vision h1 span
  color: #2980b9

#vision h1 span#ghanians
  color: #f39c12

#vision h1 span#mision
  color: #16a085

p.paragraf
  text-align: justify
  color: black !important
  margin: 0
  font-size: 13pt
  font-weight: lighter
  opacity: .8
  word-break: keep-all
  width: 85%
  padding: 10px
  padding-left: 0
  line-height: 22px

div.pa-small
  height: auto
  margin-bottom: 10px
  padding-bottom: 20px

ul#default-ul
  display: flex
  flex-flow: column nowrap
  list-style-type: disc
  margin-top: 1em
  margin-bottom: 1em
  margin-left: 0
  margin-right: 0
  padding-left: 40px

ul#default-ul li
  display: list-item

ul#default-ul li a
  color: #4267B2
  text-align: left
  opacity: 1
  display: block
  max-width: 120px
  border-radius: 0
  padding: 5px
  font-size: 12pt


ul#default-ul li a:hover
  background: none


#p-update
  color: $special-black-color
  padding-left: 5px

.sub-search-list p
  color: $special-black-color

/* Containar class */
.container
  @include container($container-full-width , $container-size-small)

.container-small
  @include container($container-full-width , $container-size-small)

.container-normal
  @include container($container-full-width , $container-size-normal)

.container-big
  @include container($container-full-width , auto)

.profile-circle-small
  @include profile(30px , 30px)

.cirlce-active ,
  @include profile(10px , 10px , $active-color)
