/* Buttons */
.button
  background-color: $front-button-find-job-color
  border: none
  color: white
  padding: 15px 32px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 10pt
  font-weight: lighter
  border-radius: 25px
  height: 50px
  letter-spacing: 1px
  // margin: 20px auto
  outline: none
  cursor: pointer
  -webkit-transition: all .55s ease
  -moz-transition: all .55s ease
  -ms-transition: all .55s ease
  -o-transition: all .55s ease
  transition: all .55s ease

.button:hover
  background: $front-button-find-job-hover-color
  color: white
