/* Modules Style */
@import "./nav-mod"
@import "./button-mod"
@import "./search-box-mod"
@import "./form-mod"

/* follow us widget */
.widget-follow
  display: flex !important
  width: auto !important

.widget-follow i
  font-size: 2em
