/* Modules Style */
@import "./nav-mod"
@import "./button-mod"
@import "./search-box-mod"
@import "./form-mod"

/* follow us widget */
.widget-follow
  display: flex !important
  width: auto !important

.widget-follow i
  font-size: 2em

/* Profile circle */

.profile-circle
  width: 80px
  height: 80px
  padding: 10px
  margin: 0
  overflow: hidden
  outline: none
  border-radius: 50%
  background: grey
  background-image: url($profile-image-1)
  background-repeat: no-repeat
  background-size: cover
  background-position: center
