/*Contaner*/

@mixin container($width : $container-size-normal , $height : $container-size-normal , $bg : white)
    width: $width
    height: $height
    background: $bg
    margin: 0
    box-sizing: border-box
    padding: 5px
