// This file contains all globals variables of the sass app
// Author : Stephen Appiah
// Date   : 02/10/2018

/* Containar Sizes */
$container-size-small : 400px
$container-size-normal : 600px
$container-size-big : 800px
$container-full-width : 100%

/* Colors */
$gradient-color-peterriver : #3498db
$gradient-color-belizehole : #545FC6
$gradient-direction : to bottom right
