// This file contains all globals variables of the sass app
// Author : Stephen Appiah
// Date   : 02/10/2018

/* Containar Sizes */
$container-size-small : 400px
$container-size-normal : 600px
$container-size-big : 800px
$container-full-width : 100%

/* Colors */
$gradient-color-peterriver : #3498db
$gradient-color-belizehole : #545FC6
$gradient-direction : to top left

$white-default-background : white

$special-black-color : #2c3e50
$special-blue-color : #3498db

$front-nav-base-color : transparent
$front-nav-button-color : #4C52B4
$front-nav-button-color-hover: #2c3e50

$front-button-find-job-color : #1abc9c
$front-button-find-job-hover-color : #3DD07D

$footer-bacground-color : white
$footer-text-hover-color : #27ae60

$login-background-color : #ecf0f1

/** Paragrafs container */
$padding-container : 15%
$text-padding : 20px
$text-color : #2c3e50

/* Images */
$profile-image-1 : "https://www.mills.edu/uniquely-mills/students-faculty/student-profiles/images/student-profile-gabriela-mills-college.jpg"
